assignment_01/build/
assignment_01/cmake-build-debug
assignment_01/.idea/.gitignore
/.idea/workspace.xml
assignment_4/build/
assignment_4/cmake-build-debug
assignment_7/build
assignment_7/cmake-build-debug
assignment_8/build/
assignment_8/cmake-build-debug

/assignment_7/out/build/x64-Debug (Standard)
/assignment_4/out/build/x64-Debug (Standard)
/assignment_01/out/build/x64-Debug (Standard)
/.vs
/assignment_8/out/build/x64-Debug (Standard)/VSInheritEnvironments.txt
/assignment_8/out/build/x64-Debug (Standard)/Testing/Temporary/LastTest.log
/assignment_8/out/build/x64-Debug (Standard)/Testing/Temporary
/assignment_8/out/build/x64-Debug (Standard)/rules.ninja
/assignment_8/out/build/x64-Debug (Standard)/lib/lodePNG/cmake_install.cmake
/assignment_8/out/build/x64-Debug (Standard)/lib/lodePNG
/assignment_8/out/build/x64-Debug (Standard)/lib/glfw/src/glfw_config.h
/assignment_8/out/build/x64-Debug (Standard)/lib/glfw/src/glfw3ConfigVersion.cmake
/assignment_8/out/build/x64-Debug (Standard)/lib/glfw/src/glfw3Config.cmake
/assignment_8/out/build/x64-Debug (Standard)/lib/glfw/src/glfw3.pc
/assignment_8/out/build/x64-Debug (Standard)/lib/glfw/src/cmake_install.cmake
/assignment_8/out/build/x64-Debug (Standard)/lib/glfw/src
/assignment_8/out/build/x64-Debug (Standard)/lib/glfw/cmake_install.cmake
/assignment_8/out/build/x64-Debug (Standard)/lib/glfw
/assignment_8/out/build/x64-Debug (Standard)/lib/glew/cmake_install.cmake
/assignment_8/out/build/x64-Debug (Standard)/lib/glew
/assignment_8/out/build/x64-Debug (Standard)/lib
/assignment_8/out/build/x64-Debug (Standard)/cmake_install.cmake
/assignment_8/out/build/x64-Debug (Standard)/CMakeFiles/TargetDirectories.txt
/assignment_8/out/build/x64-Debug (Standard)/CMakeFiles/ShowIncludes/main.obj
/assignment_8/out/build/x64-Debug (Standard)/CMakeFiles/ShowIncludes/main.c
/assignment_8/out/build/x64-Debug (Standard)/CMakeFiles/ShowIncludes/foo.h
/assignment_8/out/build/x64-Debug (Standard)/CMakeFiles/ShowIncludes
/assignment_8/out/build/x64-Debug (Standard)/CMakeFiles/CMakeOutput.log
/assignment_8/out/build/x64-Debug (Standard)/CMakeFiles/CMakeError.log
/assignment_8/out/build/x64-Debug (Standard)/CMakeFiles/cmake.check_cache
/assignment_8/out/build/x64-Debug (Standard)/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
/assignment_8/out/build/x64-Debug (Standard)/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
/assignment_8/out/build/x64-Debug (Standard)/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/assignment_8/out/build/x64-Debug (Standard)/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX
/assignment_8/out/build/x64-Debug (Standard)/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
/assignment_8/out/build/x64-Debug (Standard)/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
/assignment_8/out/build/x64-Debug (Standard)/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/CMakeCCompilerId.c
/assignment_8/out/build/x64-Debug (Standard)/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC
/assignment_8/out/build/x64-Debug (Standard)/CMakeFiles/3.17.20032601-MSVC_2/CMakeSystem.cmake
/assignment_8/out/build/x64-Debug (Standard)/CMakeFiles/3.17.20032601-MSVC_2/CMakeRCCompiler.cmake
/assignment_8/out/build/x64-Debug (Standard)/CMakeFiles/3.17.20032601-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
/assignment_8/out/build/x64-Debug (Standard)/CMakeFiles/3.17.20032601-MSVC_2/CMakeDetermineCompilerABI_C.bin
/assignment_8/out/build/x64-Debug (Standard)/CMakeFiles/3.17.20032601-MSVC_2/CMakeCXXCompiler.cmake
/assignment_8/out/build/x64-Debug (Standard)/CMakeFiles/3.17.20032601-MSVC_2/CMakeCCompiler.cmake
/assignment_8/out/build/x64-Debug (Standard)/CMakeFiles/3.17.20032601-MSVC_2
/assignment_8/out/build/x64-Debug (Standard)/CMakeFiles
/assignment_8/out/build/x64-Debug (Standard)/CMakeCache.txt
/assignment_8/out/build/x64-Debug (Standard)/build.ninja
/assignment_8/out/build/x64-Debug (Standard)/.cmake/api/v1/reply/target-lsys-Debug-3c81736d90d830903654.json
/assignment_8/out/build/x64-Debug (Standard)/.cmake/api/v1/reply/target-lodePNG-Debug-41044bdd9da3d4b6ab84.json
/assignment_8/out/build/x64-Debug (Standard)/.cmake/api/v1/reply/target-glfw-Debug-940d05fc8bf5036498a7.json
/assignment_8/out/build/x64-Debug (Standard)/.cmake/api/v1/reply/target-glew-Debug-1c5947d4e570e8c7fba4.json
/assignment_8/out/build/x64-Debug (Standard)/.cmake/api/v1/reply/index-2020-11-18T12-03-11-0419.json
/assignment_8/out/build/x64-Debug (Standard)/.cmake/api/v1/reply/codemodel-v2-4a8b1292e4d8e931774b.json
/assignment_8/out/build/x64-Debug (Standard)/.cmake/api/v1/reply/cmakeFiles-v1-e958678436f94bc25bfa.json
/assignment_8/out/build/x64-Debug (Standard)/.cmake/api/v1/reply/cache-v2-0914cb8df1d72410ffed.json
/assignment_8/out/build/x64-Debug (Standard)/.cmake/api/v1/reply
/assignment_8/out/build/x64-Debug (Standard)/.cmake/api/v1/query/client-MicrosoftVS/query.json
/assignment_8/out/build/x64-Debug (Standard)/.cmake/api/v1/query/client-MicrosoftVS
/assignment_8/out/build/x64-Debug (Standard)/.cmake/api/v1
/assignment_8/out/build/x64-Debug (Standard)
/assignment_8/data_out/square_04.txt
/assignment_8/data_out/square_04.svg
/assignment_8/data_out/square_03.txt
/assignment_8/data_out/square_03.svg
/assignment_8/data_out/square_02.txt
/assignment_8/data_out/square_02.svg
/assignment_8/data_out/square_01.txt
/assignment_8/data_out/square_01.svg
/assignment_8/data_out/sierpinski_triangle.txt
/assignment_8/data_out/sierpinski_triangle.svg
/assignment_8/data_out/sierpinski_square.txt
/assignment_8/data_out/sierpinski_square.svg
/assignment_8/data_out/plant_06.txt
/assignment_8/data_out/plant_06.svg
/assignment_8/data_out/plant_05.txt
/assignment_8/data_out/plant_05.svg
/assignment_8/data_out/plant_04.txt
/assignment_8/data_out/plant_04.svg
/assignment_8/data_out/plant_03.txt
/assignment_8/data_out/plant_03.svg
/assignment_8/data_out/plant_02.txt
/assignment_8/data_out/plant_02.svg
/assignment_8/data_out/plant_01.txt
/assignment_8/data_out/plant_01.svg
/assignment_8/data_out
/assignment_8
