assignment_01/build/
assignment_01/cmake-build-debug
assignment_01/.idea/.gitignore
/.idea/workspace.xml
assignment_4/build/
assignment_4/cmake-build-debug
assignment_7/build
assignment_7/cmake-build-debug
assignment_8/build/
assignment_8/.vs/

/assignment_7/out/build/x64-Debug (Standard)
/assignment_4/out/build/x64-Debug (Standard)
/assignment_01/out/build/x64-Debug (Standard)
/.vs
/assignment_8/out/build/x64-Debug (Standard)/.cmake/api/v1/reply/target-lsys-Debug-e4cc0fa247ad47d9ebeb.json
/assignment_8/out/build/x64-Debug (Standard)/.cmake/api/v1/reply/target-lodePNG-Debug-41044bdd9da3d4b6ab84.json
/assignment_8/out/build/x64-Debug (Standard)/.cmake/api/v1/reply/target-glfw-Debug-940d05fc8bf5036498a7.json
/assignment_8/out/build/x64-Debug (Standard)/.cmake/api/v1/reply/index-2020-11-18T09-22-33-0066.json
/assignment_8/out/build/x64-Debug (Standard)/.cmake/api/v1/reply/codemodel-v2-80e72a17d439cadbb41f.json
/assignment_8/out/build/x64-Debug (Standard)/.cmake/api/v1/reply/cmakeFiles-v1-a52fcd0666c907e8c19d.json
/assignment_8/out/build/x64-Debug (Standard)/.cmake/api/v1/reply/cache-v2-0914cb8df1d72410ffed.json
/assignment_8/out/build/x64-Debug (Standard)/.cmake/api/v1/reply
/assignment_8/data_out
