assignment_01/build/
assignment_01/cmake-build-debug
assignment_01/.idea/.gitignore
/.idea/workspace.xml
assignment_4/build/
assignment_4/cmake-build-debug
assignment_7/build
assignment_7/cmake-build-debug
assignment_8/build/
assignment_8/cmake-build-debug

/assignment_7/out/build/x64-Debug (Standard)
/assignment_4/out/build/x64-Debug (Standard)
/assignment_01/out/build/x64-Debug (Standard)
/.vs

/assignment_9/build
/assignment_9/cmake-build-debug

